{% extends 'layout.njk' %}

{% block content %}

  <form class="card" method="POST" action="/members?_method=PUT">
    <section class="avatar" style=' background: url(https://source.unsplash.com/collection/9647150) no-repeat
      center center / cover;'></section>
    <section class="details">

      <h3>
        Editar Instrutor
      </h3>

      {% include "members/field.njk" %}

      <input type="hidden" name="id" value="{{member.id}}">
    </section>
  </form>

  <form class="card__delete" method="POST" action="/members?_method=DELETE">
    <input type="hidden" name="id" value="{{member.id}}">
    <button type="submit" id="delete_button">
      <span>
        <img src="https://www.flaticon.com/svg/vstatic/svg/126/126468.svg?token=exp=1611860317~hmac=3ee23d1d25eec94cfa5376f665a4eebe" style="width:1.5vw;" alt="" srcset="">
        <span/>
        Deletar Instrutor</button>
    </form>

  {% endblock content %}